<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
    <title>Real-Time Log Dashboard</title>
</head>
<body>
<h1>Log Analyzer</h1>
<div id="log-container"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('log_message', function (msg) {
            console.log("received logs : "+msg)
            displayLog(msg.logs);
        });

        function displayLog(log) {
            var logContainer = document.getElementById('log-container');
            var logItem = document.createElement('div');
            logItem.innerHTML = '<strong>' + getCurrentTime() + '</strong>: ' + log;
            logContainer.appendChild(logItem);
        }

        function getCurrentTime() {
            var now = new Date();
            return now.getHours() + ':' + now.getMinutes() + ':' + now.getSeconds();
        }
    });
</script>

</body>
</html>
